cloudpickle==3.1.2
contourpy==1.3.3
cycler==0.12.1
Farama-Notifications==0.0.6
fonttools==4.62.1
gymnasium==1.3.0
kiwisolver==1.5.0
matplotlib==3.10.9
mmh3==5.2.1
numpy==2.4.4
packaging==26.2
pillow==12.2.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
security-gym==0.3.3
six==1.17.0
tqdm==4.67.3
typing_extensions==4.15.0
